target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Angular / Node
prenotazioni-frontend/node_modules/
prenotazioni-frontend/.angular/cache/
prenotazioni-frontend/dist/

# IDE local files
.idea/copilotDiffState.xml

dump_gestione_prenotazioni_completo.sql
backup_gestione_prenotazioni.sql
schema_gestione_prenotazioni.sql
src/main/resources/db/migration_old/
