<h1>Gestionale Prenotazioni</h1>

<h2>Login</h2>

<form (ngSubmit)="login()">

  <div>
    <label>Email</label>
    <br>
    <input
      type="email"
      name="email"
      [(ngModel)]="email">
  </div>

  <br>

  <div>
    <label>Password</label>
    <br>
    <input
      type="password"
      name="password"
      [(ngModel)]="password">
  </div>

  <br>

  <button type="submit">Accedi</button>

</form>

<hr>
nr
<div *ngIf="rispostaLogin">
  <h3>Login riuscito</h3>

  <p><strong>Email:</strong> {{ rispostaLogin.email }}</p>
  <p><strong>Ruolo:</strong> {{ rispostaLogin.ruolo }}</p>
  <p><strong>ID Account:</strong> {{ rispostaLogin.idAccount }}</p>

  <p><strong>Token:</strong></p>
  <textarea rows="8" cols="100" readonly>{{ rispostaLogin.token }}</textarea>
</div>

<div *ngIf="erroreLogin">
  <h3 style="color: red">{{ erroreLogin }}</h3>
</div>
